/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require bootstrap
 *= require_tree .
*/

@import "bootstrap";


body{
  position: relative;
  padding-bottom: 50px;
  overflow: hidden;
  height: 100%;
  width: 100%;
  background-color: #ebf4ed;
}

.logo{
  z-index: 100;
  position: absolute;
  top: 15px;
  left: 15px;
}

a:link{
  color: #43146d;
}

.header{
  list-style-type: none;
  background-color: #00a651;
  height: 50px;
    a{
      font-size: 22px;
      color: #fff;
    }
}

.sidebarNavSeperator{
  height: 100%;
  width: 3px;
  background-color: #43146d;
}

ul.sidebar-nav{
  list-style-type: none;
  margin-top: 20px;
  a{
    color: #62437e;
    font-size: 18px;
    font-weight: bold;
  }

  li{
    padding: 5px;
  }
}


.search{
  width: 400px;
}

.breadcrumbs{
  background-color: #FBF9F5;
  padding: 15px;
}

.main{
  margin-top: 70px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 10px 10px 5px #888888;
}

.scrollable{
  height: 600px;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.recipe{
  display: inline;
  float: left;
  width: 200px;
  height: 300px;
}

.recipes{
  display: inline-block;
}

.clearfix{
  clear:both;
}



form{
  width: 40%;
}

.control-group{
  width: 100%;
}

.recipe-info{
 list-style-type: none; 
}


.headerMenu{
  color: #000;
  float: right;
  padding-right: 15px;
  padding-top: 10px;
  margin-left: -500px;
}

.recipe-table{
  max-width: 800px;
}

.recipe-table li{
  font-size: 13px;
}

.recipe-table span{
  font-size: 12px;
}

.comments span{
  font-size: 14px;
}

.footer{
  background-color: #00a651;
  position: fixed;
  width: 100%;
  bottom: 0px;
  height: 30px;
  padding-top: 3px;
  color: #fff;
}

.comment-box{
  margin-left: 25px;
}
