/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require bootstrap
 *= require_tree .
*/

@import "bootstrap";


body{
  background: #ebf4ed !important;
  position: relative;
  padding-bottom: 50px;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.logo{
  z-index: 100;
  position: absolute;
  top: 15px;
  left: 15px;
}

a:link{
  color: #43146d;
}

.header{
  background-color: #00a651;
  list-style-type: none;
  height: 50px;
    a{
      font-size: 22px;
      color: #fff;
    }
}

  a:hover{
    background-color: #fff;
  }

.headerMenu{
  color: #000;
  padding-right: 15px;
  float: right !important;
  padding-top: 10px;
  padding-right: 120px;
}

ul.sidebar-nav{
  list-style-type: none;
  margin-top: 20px;
  border-right: 3px groove #43146d;
  a{
    color: #62437e;
    font-size: 18px;
    font-weight: bold;
  }

  li{
    padding: 5px;
  }
}


.search{
  width: 300px;
}

.breadcrumbs{
  background-color: #FBF9F5;
  padding: 15px;
}

.main{
  margin-top: 28px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 10px 10px 5px #888888;
  padding-bottom: 15px;
  background: #fff;
}

.scrollable{
  height: 600px;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.recipes{
  display: inline-block;
}

.recipe{
  display: inline;
  float: left;
  width: 200px;
  height: 250px;
  padding: 10px;
  position: relative;
}

.recipeContents{
  position: absolute;
  bottom: 0;
}

.clearfix{
  clear:both;
}

form{
  width: 60%;
}

.control-group{
  width: 100%;
}

.recipe-info{
 list-style-type: none; 
}

.recipe-table{
  max-width: 800px;
}

.recipe-table li{
  font-size: 13px;
}

.recipe-table span{
  font-size: 12px;
}

.comments span{
  font-size: 14px;
}

.footer{
  background-color: #00a651;
  position: fixed;
  width: 100%;
  bottom: 0px;
  left: 0px;
  height: 30px;
  padding-top: 3px;
  padding-left: 3px;
  color: #fff;
}

.comment-box{
  margin-left: 25px;
}



@media only screen
and (max-width: 1100px){

  ul.sidebar-nav{
    width: 250px;
  }

}

/*tablet*/
@media only screen
and (max-width: 1000px){

  body{
    overflow: auto;
  }

  .scrollable{
    height: auto;
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
  }

  ul.sidebar-nav{
    border-right: none;
    width: 100%;
    display: inline-block;
      li{
        display: inline;
        padding: 15px;
      }
  }

}

