/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require bootstrap
 *= require_tree .
*/



body{
  padding-bottom: 50px;
  background-color: #f8f5ef;
}

.nav{
  background-color: #CCCCFF;
  width: 100%;
}

#main{
}

.breadcrumbs{
  background-color: #FBF9F5;
  padding: 15px;
}

.nav-tabs li
{
  padding: 5px;

  a{
     color: #808080;
   }
}


form{
  width: 40%;
}

.control-group{
  width: 100%;
}

.recipe-info{
 list-style-type: none; 
}


.loggedInUser{
  color: #000;
}

.recipe-table{
  max-width: 800px;
}

.recipe-table li{
  font-size: 13px;
}

.recipe-table span{
  font-size: 12px;
}

.comments span{
  font-size: 14px;
}

.footer{
  background-color: #CCCCFF;
  position: fixed;
  width: 100%;
  bottom: 0px;
  height: 30px;
  padding-top: 3px;
}

.comment-box{
  margin-left: 25px;
}
