<% if current_user %>
  <% if current_user.id == @recipe.id_Users %>
    <h1>Edit <%= @recipe.title %></h1>
    <%= render 'form' %>
  <% else %>
    <span>You do not have permission to edit this recipe</span><br />
  <% end %>
<% else %>
  <span>You must be logged in to edit a recipe</span><br />
<% end %>

<%= link_to 'Back', recipes_path %>

